In [107]:
import pandas as pd
df = pd.read_csv('../../data/2013-2016_filtered_data.csv', low_memory=False)

In [108]:
rows, columns = df.shape

#

In [109]:
df.shape

(171726, 239)

In [110]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Speed (cup_ 130 m),Speed (cup_ 130 m) QC,Ti (cup_ 130 m),Ti (cup_ 130 m) QC,Direction (Vane_ 130 m),Direction (Vane_ 130 m) QC,...,Cup Equivalent Speed (sonic_15m) QC,Cup Equivalent Ti (sonic_15m),Cup Equivalent Ti (sonic_15m) QC,Angle from horizontal (sonic_15m),Angle from horizontal (sonic_15m) QC,Direction (sonic_15m),Direction (sonic_15m) QC,122m-38m wind shear exponent,Unnamed: 237,Unnamed: 238
0,--,NaN,NaN,NaN,Wind_Speed_Cup_130m.val,Wind_Speed_Cup_130m.flags,Ti_Cup_130m.val,Ti_Cup_130m.flags,Wind_Direction_Vane_130m_mean.val,Wind_Direction_Vane_130m_mean.flags,...,Wind_Speed_CupEq_Sonic_15m.flags,Ti_CupEq_Sonic_15m.val,Ti_CupEq_Sonic_15m.flags,Wind_Inflow_Angle_Sonic_15m.val,Wind_Inflow_Angle_Sonic_15m.flags,Wind_Direction_Sonic_15m.val,Wind_Direction_Sonic_15m.flags,NaN,122m-38m shear flag,NaN
1,mm/dd/yyyy,Time,mm/dd/yyyy Time,UTC HOUR,m/s,pass/flag/fail [1/0/-1],%,pass/flag/fail [1/0/-1],degrees,pass/flag/fail [1/0/-1],...,pass/flag/fail [1/0/-1],%,pass/flag/fail [1/0/-1],m/s,pass/flag/fail [1/0/-1],degrees,pass/flag/fail [1/0/-1],NaN,pass/fail,0.081043
2,1/1/13,12:00 AM,1/1/2013 12:00 AM,0,0.860275,0,13.335154,0,-999,0,...,1,18.173361,1,-3.300731,1,330.948742,1,NaN,FALSE,NaN
3,1/1/13,12:10 AM,1/1/2013 12:10 AM,0,0.730182,0,20.240985,0,-999,0,...,1,24.965238,1,0.626816,1,339.96623,1,NaN,FALSE,NaN
4,1/1/13,12:20 AM,1/1/2013 12:20 AM,0,0.098562,0,154.370441,0,-999,0,...,0,-999,0,-999,0,-999,0,NaN,FALSE,NaN

In [111]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'Speed (cup_ 130 m)', 'Speed (cup_ 130 m) QC', 'Ti (cup_ 130 m)',
       'Ti (cup_ 130 m) QC', 'Direction (Vane_ 130 m)',
       'Direction (Vane_ 130 m) QC',
       ...
       'Cup Equivalent Speed (sonic_15m) QC', 'Cup Equivalent Ti (sonic_15m)',
       'Cup Equivalent Ti (sonic_15m) QC', 'Angle from horizontal (sonic_15m)',
       'Angle from horizontal (sonic_15m) QC', 'Direction (sonic_15m)',
       'Direction (sonic_15m) QC', '122m-38m wind shear exponent',
       'Unnamed: 237', 'Unnamed: 238'],
      dtype='object', length=239)

In [112]:
oldnames = df.columns[0:4]

In [113]:
oldnames

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3'], dtype='object')

In [114]:
newnames = pd.Series.tolist(df.iloc[1,[0,1,2,3]])

In [115]:
newnames

['mm/dd/yyyy', 'Time', 'mm/dd/yyyy Time', 'UTC HOUR']

In [116]:
df.rename(columns=dict(zip(oldnames, newnames)), inplace = True)

In [117]:
df.columns[0:4]

Index(['mm/dd/yyyy', 'Time', 'mm/dd/yyyy Time', 'UTC HOUR'], dtype='object')

In [118]:
df.head()

,mm/dd/yyyy,Time,mm/dd/yyyy Time,UTC HOUR,Speed (cup_ 130 m),Speed (cup_ 130 m) QC,Ti (cup_ 130 m),Ti (cup_ 130 m) QC,Direction (Vane_ 130 m),Direction (Vane_ 130 m) QC,...,Cup Equivalent Speed (sonic_15m) QC,Cup Equivalent Ti (sonic_15m),Cup Equivalent Ti (sonic_15m) QC,Angle from horizontal (sonic_15m),Angle from horizontal (sonic_15m) QC,Direction (sonic_15m),Direction (sonic_15m) QC,122m-38m wind shear exponent,Unnamed: 237,Unnamed: 238
0,--,NaN,NaN,NaN,Wind_Speed_Cup_130m.val,Wind_Speed_Cup_130m.flags,Ti_Cup_130m.val,Ti_Cup_130m.flags,Wind_Direction_Vane_130m_mean.val,Wind_Direction_Vane_130m_mean.flags,...,Wind_Speed_CupEq_Sonic_15m.flags,Ti_CupEq_Sonic_15m.val,Ti_CupEq_Sonic_15m.flags,Wind_Inflow_Angle_Sonic_15m.val,Wind_Inflow_Angle_Sonic_15m.flags,Wind_Direction_Sonic_15m.val,Wind_Direction_Sonic_15m.flags,NaN,122m-38m shear flag,NaN
1,mm/dd/yyyy,Time,mm/dd/yyyy Time,UTC HOUR,m/s,pass/flag/fail [1/0/-1],%,pass/flag/fail [1/0/-1],degrees,pass/flag/fail [1/0/-1],...,pass/flag/fail [1/0/-1],%,pass/flag/fail [1/0/-1],m/s,pass/flag/fail [1/0/-1],degrees,pass/flag/fail [1/0/-1],NaN,pass/fail,0.081043
2,1/1/13,12:00 AM,1/1/2013 12:00 AM,0,0.860275,0,13.335154,0,-999,0,...,1,18.173361,1,-3.300731,1,330.948742,1,NaN,FALSE,NaN
3,1/1/13,12:10 AM,1/1/2013 12:10 AM,0,0.730182,0,20.240985,0,-999,0,...,1,24.965238,1,0.626816,1,339.96623,1,NaN,FALSE,NaN
4,1/1/13,12:20 AM,1/1/2013 12:20 AM,0,0.098562,0,154.370441,0,-999,0,...,0,-999,0,-999,0,-999,0,NaN,FALSE,NaN

In [120]:
extraHeader = df.iloc([0,1])

In [121]:
type(extraHeader)

pandas.core.indexing._iLocIndexer

In [135]:
df2 = df.drop([0,1])

In [146]:
df2.head()

,mm/dd/yyyy,Time,mm/dd/yyyy Time,UTC HOUR,Speed (cup_ 130 m),Speed (cup_ 130 m) QC,Ti (cup_ 130 m),Ti (cup_ 130 m) QC,Direction (Vane_ 130 m),Direction (Vane_ 130 m) QC,...,Cup Equivalent Speed (sonic_15m) QC,Cup Equivalent Ti (sonic_15m),Cup Equivalent Ti (sonic_15m) QC,Angle from horizontal (sonic_15m),Angle from horizontal (sonic_15m) QC,Direction (sonic_15m),Direction (sonic_15m) QC,122m-38m wind shear exponent,Unnamed: 237,Unnamed: 238
2,1/1/13,12:00 AM,1/1/2013 12:00 AM,0,0.860275,0,13.335154,0,-999,0,...,1,18.173361,1,-3.300731,1,330.948742,1,NaN,FALSE,NaN
3,1/1/13,12:10 AM,1/1/2013 12:10 AM,0,0.730182,0,20.240985,0,-999,0,...,1,24.965238,1,0.626816,1,339.96623,1,NaN,FALSE,NaN
4,1/1/13,12:20 AM,1/1/2013 12:20 AM,0,0.098562,0,154.370441,0,-999,0,...,0,-999,0,-999,0,-999,0,NaN,FALSE,NaN
5,1/1/13,12:30 AM,1/1/2013 12:30 AM,0,0.167043,0,116.755356,0,-999,0,...,0,-999,0,-999,0,-999,0,NaN,FALSE,NaN
6,1/1/13,12:40 AM,1/1/2013 12:40 AM,0,0.242969,0,92.5277,0,-999,0,...,0,-999,0,-999,0,-999,0,NaN,FALSE,NaN

In [137]:
spd10m = df2['Speed (cup_ 10 m)']

In [138]:
type(spd10m)

pandas.core.series.Series

In [143]:
spd10m.values

TypeError: 'numpy.ndarray' object is not callable

In [151]:
df2.describe(include='None')

TypeError: include and exclude must both be non-string sequences

In [153]:
df2.head()

,mm/dd/yyyy,Time,mm/dd/yyyy Time,UTC HOUR,Speed (cup_ 130 m),Speed (cup_ 130 m) QC,Ti (cup_ 130 m),Ti (cup_ 130 m) QC,Direction (Vane_ 130 m),Direction (Vane_ 130 m) QC,...,Cup Equivalent Speed (sonic_15m) QC,Cup Equivalent Ti (sonic_15m),Cup Equivalent Ti (sonic_15m) QC,Angle from horizontal (sonic_15m),Angle from horizontal (sonic_15m) QC,Direction (sonic_15m),Direction (sonic_15m) QC,122m-38m wind shear exponent,Unnamed: 237,Unnamed: 238
2,1/1/13,12:00 AM,1/1/2013 12:00 AM,0,0.860275,0,13.335154,0,-999,0,...,1,18.173361,1,-3.300731,1,330.948742,1,NaN,FALSE,NaN
3,1/1/13,12:10 AM,1/1/2013 12:10 AM,0,0.730182,0,20.240985,0,-999,0,...,1,24.965238,1,0.626816,1,339.96623,1,NaN,FALSE,NaN
4,1/1/13,12:20 AM,1/1/2013 12:20 AM,0,0.098562,0,154.370441,0,-999,0,...,0,-999,0,-999,0,-999,0,NaN,FALSE,NaN
5,1/1/13,12:30 AM,1/1/2013 12:30 AM,0,0.167043,0,116.755356,0,-999,0,...,0,-999,0,-999,0,-999,0,NaN,FALSE,NaN
6,1/1/13,12:40 AM,1/1/2013 12:40 AM,0,0.242969,0,92.5277,0,-999,0,...,0,-999,0,-999,0,-999,0,NaN,FALSE,NaN